<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Vianu Biologists{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
   <nav>
    <a href="{{ url_for('index') }}">Acasă</a>
    <a href="{{ url_for('blog') }}">Blog</a>
    <a href="{{ url_for('blog') }}#galerie">Galerie</a>
  
    {% if session.get('user_email') in ['admin@vianubio','membriiaccount'] %}
      <a href="{{ url_for('blog') }}#lectii">Lecții</a>
    {% endif %}
  
    {% if session.get('logged_in') %}
      <a href="{{ url_for('admin_new') }}">Admin</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </nav>


    </aside>

    <main class="main-content">
      {% with msgs = get_flashed_messages(with_categories=true) %}
        {% if msgs %}
          <div class="flash-wrap">
            {% for cat, m in msgs %}<div class="flash {{cat}}">{{ m }}</div>{% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      <footer>E-mail:vianu.biologists@gmail.com|Tel:0738977021|Instagram: vianu_biologists|Site by:Daria Stan :)</footer>
    </main>
  </div>
</body>
</html>
